body {
    font-family: sans-serif;
    margin:0;
}

.btn{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding:5px;
    padding-inline: 300px;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,0.5);
}

.top{
    background-color: black
}

a{
    text-decoration: none;
    color:white;
}

#logo{
    font-family: 'Times New Roman', Times, serif;
    font-size: 32px;
}

#search_bar{
    width:125px;
    height:25px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: end;
}

#search{
    padding:5px;
    background-color: black;
    border-radius: 10px;
}

#btn2{
    display:flex;
    justify-content: right;
    align-items:center;
    padding-inline:20px;
    margin-top:-35px;
    flex-wrap: wrap;
    gap:40px;
}

#mtext{
    color:white;
    font-size:64px;
    line-height: 20px;
    font-family: 'Times New Roman', Times, serif;
}

#text{
    color:white;
    margin-left:50px;
    font-size:20px;
}

.text_btn{
    display:flex;
    align-items: end;
    justify-content: space-around;
    position:relative;
    top:450px;
    gap:200px;
    flex-wrap: wrap;
}

.left_text{
    width:400px;
}

#button_bottom{
    background-color: white;
    color:black;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    font-size: 21px;
}

.top_banner{
    background-image: url("https://learn.logikaschool.com/uploads/student/4819331/68332d9051cce.png");
    height: 334px;
    color:white;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 0px;
}

#header{
    font-size: 64px;
}

#header_d{
    font-size:32px;
}

.mheadert1{
    display:inline-block;
    color:white;
}
.mheadert2{
    display:inline-block;
}

.mheader_container{
    display:flex;
    justify-content: center;
    gap:20%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

#special_offer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap:50px;
    margin:50px 0px 50px 0px;
}

.spring_offer{
    display:flex;
    flex-direction: column;
    width:225px;
    justify-content: left;
    align-items: left;
    margin: auto;
    flex-wrap: wrap;
    transition: 0.5s ease-out;
}

.spring_offer:hover{
    transform: scale(105%);
}

.offer_description{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.offer_buy{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.offer_description_text{
    width:50px;
    display: flex;
    justify-content: center;
    color:white;
    background-color: black;
    border-radius: 10px;
    padding:20px;
}

.offer_image{
    border-radius: 50px;
    box-shadow: 0px 0px 11.9px rgba(0, 0, 0, 0.25);
    
}

.cost{
    background-color: black;
    color:white;
    border-radius: 10px;
    text-align: center;
    padding:20px;
    width:90px;
}

.show_more{
    background-color: white;
    color:black;
    border-radius: 10px;
    text-align: center;
    padding:15px;
    padding-inline: 20px;
    box-shadow: 0px 0px 11.9px rgba(0, 0, 0, 0.25);
    position:relative;
    top:-13px;
    transition: 0.5s ease-out;
}

.show_more:hover{
    transform: scale(120%);
    z-index:1;
}

.discount_container{
    position:absolute;
    color:gray;
}
.discount{
    position: relative;
    left:25px;
}

#discount_time{
    margin: -50px 0px 0px 40px;
    letter-spacing: 2px;
}

.header2{
    text-align:center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}

.section1{
    box-shadow: 0px 4px 21.1px 5px rgba(0, 0, 0, 0.49);
    width:250px;
    height:450px;
    border-radius: 40px;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.image{
    width: 210px;
    height: 285px;
    margin-bottom:70px;
    margin-top:20px;
}

.section1_text{
    width:40px;
    font-size: 20px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section1_button{
    background-color: black;
    color:white;
    border-radius: 40px;
    padding:10px 20px 10px 20px;
    margin-bottom:20px;
}

.sections{
    display:flex;
    justify-content: space-around;

}

.category{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom_banner{
    display:flex;
    justify-content: space-around;
    align-items: start;
    background-color: gray;
    padding-bottom:20px;
    line-height: 40px;
}

.pages{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:30px;
    margin-bottom:20px;
}

.page{
    border-radius: 50%;
    width: 30px;
    height:30px;
    box-shadow: 0px 2px 21.1px rgba(0, 0, 0, 0.49);
    display: flex;
    justify-content: center;
    align-items: center;
    color:black;
    transition: 0.3s ease-out;
}

.page:hover{
    background-color: black;
    color:white;
    transform: scale(140%);
    z-index:1;
}

#first_page{
    width:60px;
    height: 60px;
    background-color: black;
    color:white;
}

.filters{
    display:flex;
    justify-content: left;
    align-items: center;
    margin:20px 0px 0px 150px;
    gap:30px;
}

.filter{
    color:black;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 2px 21.1px rgba(0, 0, 0, 0.49);
    width:150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-out;
}

.filter:hover{
    background-color: black;
    color:white;
    transform: scale(120%);
    z-index:1;
}
